@media screen and (max-width: 767px){
.container1 {
   display: none;
}
.sidebar {
   display: none;
}
.column {
    padding-left: 15px;
    max-width: 100%;
    flex: 0 0 100%;
}
.display-details .food-column {
    width: 50%;
    flex: 0 0 50%;
    margin-bottom: 1rem;
}
.mid-head-details {
    display: block;
}

.cart-button span {
    left: 40%;
    transform: translate(-33%, -50%);
}
.cart-button input.in-num{
	margin-left: -23px;
}
.cart-button.clicked span {
    left: 40%;
    transform: translate(-50%, -50%);
}
.drop-col {
    width: 100%;
}
.owl-prev:before {
    font-size: 23px;
    line-height: 36px;
    width: 36px;
    height: 36px;
    top: 22%;
}
.owl-next:before{
	width: 36px;
    height:36px;
    font-size: 23px;
    line-height: 36px;
    top: 22%;
}
.food-details.feature-details h5 {
    font-size: 16px;
}
.food-details.subscribe-display {
    display: block;
    padding: 0 0.6rem;
}
.footer-content.alignment{
    text-align:left;
    margin-top: 1rem;
}
.search-bar-col {
    margin: auto 0px;
}
.head-content {
    display: block;
}
header#header{
    position: static;
}
.pickup-selection .dropdown .btn{
    height: auto;
    position: relative;
    margin: 0.5rem 0;
        text-align: start;
}
.pickup-selection .dropdown-toggle::after{
    position: absolute;
    right: 20px;
    top: 14px;
}
.sidebar h5 {
    border-bottom: 1px solid rgb(247, 247, 247);
    font-size: 18px;
    font-weight: 600;
    padding:10px 0;
}
.sidebar ul {
    padding-left: 0;
}

.menu-col.top-header ul li {
    /* margin: 10px 0; */
    margin: 10px 0;
}
.menu-col.top-header {
    margin-bottom: 6px;
}
.banner-details h5 {
    font-size: 16px;
}
.banner-details p{
    font-size:14px;
}
.fresh-food-details h5{
     font-size:16px;
}
.shop-details h5 {
    font-size: 16px;
}
.footer-right ul li:not(last-child) {
    list-style: none;
    margin-left: 0;
    margin-right: 21px;
}
.footer-right ul li a {
    font-size: 12px;
}
.menu-btn span {
    font-size: 20px;
    margin-top: 14px;
}

.single-pro.product-details button.btn.btn-list {
    width: 100%;
}

.single-pro.product-details .list-col {
    padding-left: 15px;
}
}






@media screen and (min-width: 768px) and (max-width: 991px){
.subscribe-details form .food-details .form-group .form-control {
    width: 100%;
}
header#header {
    position: static;
}
.ip-menu{
    text-align: right;
}
.flex-col{
    padding-right:15px;
}
.badge-light {
    color: #ffffff;
    background-color: #ff3c20;
    position: absolute;
    top: 6px;
    right: 1.8rem;
    border-radius: 50%;
    min-height: 14px;
    min-width: 14px;
    padding: 4px;
    font-size: 7px;
}
li#menu-toggle.mob-menu {
    border: 1px solid gray;
    width: 55px;
    height: 46px;
    border-radius: 8px;
    text-align: center;
    line-height: 46px;
    /* margin-left: 6px; */
    padding-left: 13px;
}
.column {
    padding-left: 15px;
    max-width: 100%;
    flex: 0 0 100%;
}
.display-details .food-column {
    width: 33.33%;
    flex: 0 0 33.33%;
    margin-bottom: 1rem;
}
.fresh-food-details h5 {
    font-size: 16px;
}
.footer-content.alignment {
    text-align: left;
}
.menu-btn span {
    font-size: 20px;
    margin-top: 14px;
}
.single-pro.product-details button.btn.btn-list {
    width: 100%;
}
.single-pro.product-details .shared-details{
    margin-left: -15px;
}
}

@media screen and (min-device-width: 992px) and (max-device-width: 1024px){
.menu-col.top-header {
    float: right;
}
.flex-col {
    padding-right: 15px;
}
.column1 {
    max-width: 25%;
    flex: 0 0 25%;
}
.column {
    max-width: 75%;
    flex: 0 0 75%;
}
.display-details .food-column {
    width: 33.33%;
    flex: 0 0 33.33%;
    margin-bottom: 1rem;
}
.subscribe-details form .food-details .form-group .form-control {
    width: 100%;
}
.top-header ul li {
    margin-left: 24px;
}
.badge-light{
        right: 5.2rem;
}
.single-pro.product-details button.btn.btn-list {
    width: 100%;
}
.single-pro.product-details .shared-details{
    margin-left:-10px;
}
}